body {
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
}

#map {
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.menu {
    position: absolute;
    top: 6px;
    right: 6px;
    z-index: 1 !important;
    width: fit-content;
    height: fit-content;
    padding: 1em;

    display: flex;
    flex-direction: row nowrap;
    align-items: flex;
    gap: 0.5em;

    background-color: white;
    border-radius: 12px;
}

button {
    font-size: 1.25em;
    background-color: #222;
    color: white;
    border-style: none;
    border-radius: 8px;
    user-select: none;
    cursor: pointer;
}

button:hover:not([disabled]) {
    background-color: blue;
}

.buttons {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.25em;
}

.buttons > span {
    display: flex;
    justify-content: space-between;
}

.buttons > span > label {
    flex-grow: 1;
    padding-right: 0.5em;
    user-select: none;
}

.updating {
    cursor: wait;
}
